@font-face {
    font-family: OpenSans;
    src: url(JuliusSansOne-Regular.ttf);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body{
    background-color: aliceblue;
    font-family: OpenSans, sans-serif;
}

.menu{
    display: grid;
    place-content: center;
    min-height: 100vh;
    margin: 20px;
}

.menu h2{
    font-size: 3em;
    text-align: center;
    font-family: monospace;
}

.menu-underline{
    height: 0.2rem;
    background-color: darksalmon;
    width: 100px;
    border-radius: 1rem;
    margin: 0 auto 15px auto;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
    margin: 20px auto;
}

.btn-category{
    padding: 5px 10px;
    text-transform: capitalize;
    margin: 0 10px;
    font-size: 0.8em;
    background-color: transparent;
    color: darksalmon;
    border-radius: 0.5rem;
    border: 2px solid darksalmon;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px darksalmon;
    transition: all 0.2s ease-in;
}

.btn-category:hover{
    background-color: darksalmon;
    color: white;
}

.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    max-width: 800px;
}
.product{
    width: minmax(0px, 1fr);
    display: grid;
    grid-template-columns: auto 1fr;
}

.product img{
    max-width: 120px;
    border: 2px solid darksalmon;
    border-radius: 0.5rem;
}

.product-info{
    max-width: 230px;
    font-size: 0.9em;
    padding: 0 0 15px 20px;
}

.product-title{
    display: flex;
    justify-content: space-between;
}

.product-title h3{
    font-weight: bold;
}
.price{
    color: darksalmon;
    font-weight: bolder;
    text-shadow: 1px 1px grey;
}

.price::before{
    content: "$";
}

.product-text{
    padding-top: 10px;
    border-top: 2px solid rgba(233, 150, 122, 0.3);
    font-size: 0.8em;
}

@media screen and (max-width: 807px){
    .products{
        justify-content: center;
    }
}
